NUXT_SSR="true"
NUXT_AUTH_ACCESS_TOKEN_JWT_SECRET="***"
NUXT_AUTH_REFRESH_TOKEN_JWT_SECRET="****"
NUXT_AUTH_EMAIL_FROM="example@example.com"
NUXT_AUTH_OAUTH_GOOGLE_CLIENT_ID="**"
NUXT_AUTH_OAUTH_GOOGLE_CLIENT_SECRET="**"
NUXT_AUTH_REGISTRATION_ENABLED="true"
NUXT_AUTH_REGISTRATION_REQUIRE_EMAIL_VERIFICATION="false"
NUXT_PUBLIC_AUTH_BACKEND_BASE_URL="http://localhost:3000"
NUXT_PUBLIC_AUTH_BASE_URL="http://localhost:3000"